input, button{
	width: 100% !important;
	height: 50px;
	margin-bottom: 15px;
	text-align: center
}
button{
	background: #d91e18;
	color: #fff;
	border: none;
}
button > strong{
	color: #FFF;
}
button:hover{
	cursor: pointer;
}
body{
	padding: 50px;
	font-family: 'Open Sans', sans-serif;	
}
p{
	font-size: 2em
}
.results{
	display: none
}
strong{
	color:  #d91e18;
}
.error{
	margin-top: 25px;
	text-align: center;
	color: #d91e18;
	font-size: 2em;
	font-weight: 800;
}